Repository sridatla-egenai/ai-maf-poc-agent: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/agent-pipeline.yml, pipelines/infrastructure-pipeline.yml

pipelines/agent-pipeline.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)-agent

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - agents/**
      - tools/**
      - scripts/**
      - pipelines/agent-pipeline.yml
    exclude:
      - infrastructure/**

# Runtime Parameters
parameters:
  - name: agentFile
    displayName: 'Agent to Deploy'
    type: string
    default: 'simple-agent.yaml'
    values:
      - simple-agent.yaml
      # Add other agent YAML files here as you create them

variables:
  - name: ENVIRONMENT
    ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
      value: 'nonprod'
    ${{ else }}:
      value: 'prod'
  
  - ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
    - group: ai-agent-secrets-nonprod
  - ${{ else }}:
    - group: ai-agent-secrets-prod

  - name: AZURE_SERVICE_CONNECTION
    value: 'ado-service-connection'

pool:
  name: 'egen-agent-pool'

steps:
  - checkout: self
  
  - bash: |
      echo "ðŸ¤– Deploying Agent to: $(ENVIRONMENT)"
      echo "ðŸ“„ Selected Agent: ${{ parameters.agentFile }}"
    displayName: 'Show deployment info'
  
  - task: AzureCLI@2
    displayName: 'Install dependencies and deploy agent'
    inputs:
      azureSubscription: '$(AZURE_SERVICE_CONNECTION)'
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        # Load environment variables from YAML
        python3 -c "
        import yaml
        with open('infrastructure/variables/$(ENVIRONMENT).yaml') as f:
            vars = yaml.safe_load(f)
            print(f\"FOUNDRY_ENDPOINT={vars['foundry']['endpoint']}\")
        " > env_vars.sh
        source env_vars.sh
        
        # Deploy agent
        python3 -m venv .venv
        . .venv/bin/activate
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
        # Use the selected agent file
        .venv/bin/python scripts/deploy_agent.py "$FOUNDRY_ENDPOINT" "agents/${{ parameters.agentFile }}"

pipelines/infrastructure-pipeline.yml:

name: $(Date:yyyyMMdd)$(Rev:.r)-infra

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infrastructure/**
      - pipelines/infrastructure-pipeline.yml

# Runtime Parameters
parameters:
  - name: deployModule
    displayName: 'Infrastructure Module to Deploy'
    type: string
    default: 'all'
    values:
      - all
      - foundry_connection
      # Add other modules here as you create them

variables:
  - name: ENVIRONMENT
    ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
      value: 'nonprod'
    ${{ else }}:
      value: 'prod'
  
  - ${{ if eq(variables['Build.SourceBranchName'], 'main') }}:
    - group: ai-agent-secrets-nonprod
  - ${{ else }}:
    - group: ai-agent-secrets-prod
  
  - name: AZURE_SERVICE_CONNECTION
    value: 'ado-service-connection'

pool:
  name: 'egen-agent-pool'

steps:
  - checkout: self
  
  - bash: |
      echo "üöÄ Deploying Infrastructure to: $(ENVIRONMENT)"
      echo "üì¶ Selected Module: ${{ parameters.deployModule }}"
      echo "üìÅ Using variables from: infrastructure/variables/$(ENVIRONMENT).yaml"
    displayName: 'Show deployment info'
  
  - task: AzureCLI@2
    displayName: 'Deploy Infrastructure'
    inputs:
      azureSubscription: '$(AZURE_SERVICE_CONNECTION)'
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        # Install dependencies
        python3 -m venv .venv
        . .venv/bin/activate
        pip install pyyaml
        
        # Set API key from secret variable
        export TODO_API_KEY=$(TODO_API_KEY)
        
        # Deploy infrastructure
        # We pass the selected module as an argument
        python scripts/deploy_infrastructure.py $(ENVIRONMENT) --module ${{ parameters.deployModule }}

update deploy-agent.py
  scripts/deploy_agent.py
Due: pipelines/agent-pipeline.yml

update folder structure
  .gitignore
  README.md
  agents/simple-agent.yaml
  agents/weather-agent.yaml
  azure-pipelines.yml
  connections/todo-api.yaml
  docs/ARCHITECTURE.md
  docs/PIPELINE_GUIDE.md
  docs/variable-organization.md
  infrastructure/main.bicep
  infrastructure/modules/foundry_connection/api.json
  infrastructure/modules/foundry_connection/connection.bicep
  infrastructure/nonprod.bicepparam
  infrastructure/parameters/nonprod.parameters.yaml
  infrastructure/variables/nonprod.yaml
  infrastructure/variables/prod.yaml
  pipelines/agent-pipeline.yml
  pipelines/infrastructure-pipeline.yml
  scripts/__pycache__/deploy_agent.cpython-313.pyc
  scripts/deploy_agent.py
  scripts/deploy_connection.py
  scripts/deploy_infrastructure.py
  scripts/deploy_tool.py
  scripts/local-deploy.sh
  scripts/tool_factory.py
  scripts/verify_tools.py
  scripts/yaml_to_bicep_params.py
  tools/__pycache__/registry.cpython-313.pyc
  tools/openapi/weather-api/tool.yaml
Due: pipelines/agent-pipeline.yml, pipelines/infrastructure-pipeline.yml

add guardrails deployment
  README.md
  azure-devops-pipeline.yml
Due: none

add guardrails deployment
  azure-devops-pipeline.yml
Due: none

add guardrails deployment
  agents/weather-agent.yaml
Due: pipelines/agent-pipeline.yml

add api and mcp server
  apis/product-api/Dockerfile
  apis/product-api/azure-pipelines.yml
  apis/product-api/docker-compose.yml
  apis/product-api/main.py
  apis/product-api/mcp-server/Dockerfile
  apis/product-api/mcp-server/requirements.txt
  apis/product-api/mcp-server/server.py
  apis/product-api/products_10k.json
  apis/product-api/requirements.txt
  azure-pipelines.yml
  docs/PIPELINE_PYTHON_FIX.md
Due: none

add api and mcp server
  apis/product-api/azure-pipelines.yml
Due: none

update agent to upload to classic foundry
  scripts/deploy_agent.py
  scripts/tool_factory.py
Due: pipelines/agent-pipeline.yml

update agent to upload to classic foundry
  agents/weather-agent.yaml
  docs/PIPELINE_SETUP.md
Due: pipelines/agent-pipeline.yml
